<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <title>Registro</title>
</head>

<header class="home-header">
    <div class="div-header">

        <img src="/images/logo-mercado-liebre.svg" alt="Imagen del logo">

        <div class="titulo-compras">
            <input type="text" placeholder="Buscar productos, marcas"><i id="lupa" class="fas fa-search"></i>
        </div>

        <h4> <i id="manito" class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
    </div>
    <nav class="home-nav">

        <ul class="ul1">
            <li><a href=""> Ofertas </a></li>
            <li><a href=""> Tiendas Oficiales </a></li>
            <li><a href=""> Vender </a></li>
            <li><a href=""> Ayuda </a></li>
        </ul>
        <ul>
            <li><a href="/registro">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
            <li><a href="/ingresar">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>


    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header> 

<body class="body-registro">

    <main>
        <div class="div-registro">
            <h2>Registro de Usuario</h2>
            <form action="/" method="">

                <label class="label-subtitulo" for="nombre-completo">Nombre y apellido:</label>
                <input class="barra" type="text" id="nombre-completo" name="nombre-completo" placeholder="Introducir nombre y apellido" value="" required>

                <label class="label-subtitulo" for="usuario">Nombre de usuario:</label>
                <input class="barra" type="text" id="usuario" name="usuario" placeholder="Introducir nombre de usuario" value="" required>

                <label class="label-subtitulo" for="email">Correo electrónico:</label>
                <input class="barra" type="email" id="email" name="email" placeholder="Introducir correo electronico" value="" required>

                <label class="label-subtitulo" for="fecha-nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento">

                <label class="label-subtitulo" for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Introducir domicilio" value="">

                <label class="label-subtitulo">Perfil del usuario:</label>

                <div class="eleccion-perfil">
                    <input type="radio" id="comprar" name="perfil" value="comprar">
                    <label for="comprar">Comprador</label>
                </div>

                <div class="eleccion-perfil">
                    <input type="radio" id="vender" name="perfil" value="vender">
                    <label for="vender">Vendedor</label>
                </div>

                <label class="label-subtitulo">Categorías de interés:</label>

                <div class="categoria">
                    <input type="checkbox" id="electro" name="intereses" value="electro">
                    <label for="electro">Electro</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="moda">Moda</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="hogar">Hogar</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="jugueteria">Jugueteria</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="vida-sana">Vida sana</label>
                </div>

                <div class="div-foto">
                    <label class="label-subtitulo" for="foto">Foto de usuario:</label>
                    <input type="file" id="foto" name="foto">
                </div>

                <label class="label-subtitulo" for="password">Contraseña:</label>
                <input class="barra" type="password" id="password" name="password" placeholder="Introducir Contraseña"
                    value="" required>

                <label class="label-subtitulo" for="confirm-password">Confirmar contraseña:</label>
                <input class="barra" type="password" id="confirm-password" name="confirm-password" placeholder="Repetir Contraseña" value="" required>

                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </div>
    </main>
    
    <footer class="home-footer">

        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>

        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
</body>

</html>