<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form.css">

    <title>Registro</title>
</head>

<body class="body-registro">

    <main>
        <div class="div-registro">
            <h2>Registro de Usuario</h2>
            <form action="/" method="">

                <label class="label-subtitulo" for="nombre-completo">Nombre y apellido:</label>
                <input class="barra" type="text" id="nombre-completo" name="nombre-completo" placeholder="Introducir nombre y apellido" value="" required>

                <label class="label-subtitulo" for="usuario">Nombre de usuario:</label>
                <input class="barra" type="text" id="usuario" name="usuario" placeholder="Introducir nombre de usuario" value="" required>

                <label class="label-subtitulo" for="email">Correo electrónico:</label>
                <input class="barra" type="email" id="email" name="email" placeholder="Introducir correo electronico" value="" required>

                <label class="label-subtitulo" for="fecha-nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento">

                <label class="label-subtitulo" for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Introducir domicilio" value="">

                <label class="label-subtitulo">Perfil del usuario:</label>

                <div class="eleccion-perfil">
                    <input type="radio" id="comprar" name="perfil" value="comprar">
                    <label for="comprar">Comprador</label>
                </div>

                <div class="eleccion-perfil">
                    <input type="radio" id="vender" name="perfil" value="vender">
                    <label for="vender">Vendedor</label>
                </div>

                <label class="label-subtitulo">Categorías de interés:</label>

                <div class="categoria">
                    <input type="checkbox" id="electro" name="intereses" value="electro">
                    <label for="electro">Electro</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="moda">Moda</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="hogar">Hogar</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="jugueteria">Jugueteria</label>
                </div>

                <div class="categoria">
                    <input type="checkbox" id="moda" name="intereses" value="moda">
                    <label for="vida-sana">Vida sana</label>
                </div>

                <div class="div-foto">
                    <label class="label-subtitulo" for="foto">Foto de usuario:</label>
                    <input type="file" id="foto" name="foto">
                </div>

                <label class="label-subtitulo" for="password">Contraseña:</label>
                <input class="barra" type="password" id="password" name="password" placeholder="Introducir Contraseña"
                    value="" required>

                <label class="label-subtitulo" for="confirm-password">Confirmar contraseña:</label>
                <input class="barra" type="password" id="confirm-password" name="confirm-password" placeholder="Repetir Contraseña" value="" required>

                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </div>
    </main>
</body>

</html>