:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;

    --cuerpoTexto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

* {
    font-family: 'roboto'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/*-------------------------------------------------------Header----------------------------------------------------------*/

header {
    background-color: var(--amarillo);
    width: 100%;
}

.tarjetaCredito h4 {
    font-size: var(--cuerpoTexto);
    text-align: center;
}

.logo {
    display: flex;
    flex-wrap: wrap;
}

.logo img {
    width: 50vw;
    height: 80px;
    margin-left: 30px;
}

.barraBusqueda {
    background-color: var(--grisClaro);
    width: 200px;
    height: auto;
    margin-left: 20px;
    border: solid 1px var(--grisOscuro);
    font-family: 'roboto';
    font-weight: 500;
    color: var(--grisOscuro);
    margin-bottom: 0;

}

.home-header input {
    display: flex;
}

.home-header h4 {
    font-weight: normal;
    font-size: 12px;
    padding-top: 10px;
}

#lupa {
    display: flex;
    background-color: white;
    width: 20px;
    border: solid 1px var(--grisOscuro);
    padding: 1px;
}

.tarjetaCredito {
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.fa-hand-holding-usd {
    margin-left: 50px;
}

header ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}


.titulo-compras {
    display: flex;
    margin-left: 10px;
    gap: 4px;
}

.burger-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.burger-menu i {
    font-size: 24px;
    background-color: var(--celeste);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}


.home-nav {
    display: none;
}


footer {
    text-align: center;
}

footer section {
    margin-bottom: 10px;
    margin-top: 40px;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}

footer h4 {
    margin: 0;
    color: var(--grisOscuro);
}

footer p {
    margin: 0px 60px 60px 60px;
    font-size: var(--cuerpoTexto);
    color: var(--grisOscuro)
}

.copyright {
    text-align: left;
    margin-left: 19px;
    margin-bottom: 10px;
}

.home-nav .ul1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

main section article i {
    font-size: 16px;
    padding: 2px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    color: var(--verde);
}

.home-main article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 15px;
}

.home-main{
    background-color: var(--grisClaro);
}

.home-main h3 {
    background-color: var(--grisClaro);
    color: var(--grisOscuro);
    padding: 10px 0px 10px 10px;
    background-color: var(--grisClaro);
}

.home-main h5 {
    color: #666;
    font-weight: 500;
    width: 100%;
    padding-top: 15px;
}

.home-main section article .descuento {
    color: var(--verde);
    display: flex;
}

.div-article {
    padding: 15px;
    background-color: white;
}

.home-header div input #barra-tablet {
    display: none;
}

@media (min-width: 361px) {

    .home-header img {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }

    .titulo-compras {
        width: 44%;
        gap: 0px;
    }

    .div-header {
        display: flex;
        padding: 15px;
        align-items: center;
    }

    .home-header div input {
    padding: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    }

    #lupa {padding: 10px;border: none;border-radius: 0px 5px 5px 0px;color: var(--grisOscuro);padding-right: 20px;}

    .home-header div h4 {
        font-size: 12px;
        padding-top: 20px;
    }

    #manito {
        margin-left: 0px;
    }

    .burger-menu {
        display: none;
    }

    .home-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 20px;
        height: 50px;
    }

    .home-nav ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .home-header ul li a {
        font-size: var(--cuerpoTexto);
    }

    .home-main {
        background-color: var(--grisClaro);
    }

    .home-main img {
        border-bottom: lightgray 1px solid;
    }

    .home-main article {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border: none;
        background-color: white;
        margin-bottom: 20px;
        width: 40%;
    }

    .home-main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .home-main h3 {
        color: #666;
        padding: 15px 0px 15px 30px;
        background-color: var(--grisClaro);
    }

    .home-main h4 {
        width: 100%;
    }

    main section article i {
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        top: -15px;
        right: 20px;
    }

    .home-main section article div {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .descuento {
        width: 60%;
        margin-left: 25px;
    }

    .precio {
        width: 30%;
    }

}

@media (min-width: 769px) {

    #lupa {
        font-weight: bold;
    }

    .home-header div h4 {
        padding-left: 4vw;
    }

    .home-main section {
        display: flex;
        justify-content: space-evenly;
    }

    .home-main article {
        width: 20%;
    }

    main section article i {
        position: absolute;
        right: 0px;
    }

    .home-main section article .descuento {
        width: 60%;
        margin-left: 17px;
    }

    .home-main h5 {
        width: 100%;
    }

    .precio {
        padding: 0px;
        width: 30%;
    }


    .descuento {
        width: 70%;
    }

    .div-article {
        display: flex;
        flex-wrap: wrap;
    }
}